@(message: String)

@layout.default("list page") {

<h1>@message</h1>

<div class="table-example">
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>column1</th>
            <th>column2</th>
            <th>column3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>row1 c1</td>
            <td>row1 c2</td>
            <td>row1 c3</td>
        </tr>
    </tbody>
</table>
</div>

<div class="table-example">
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>column1</th>
            <th>column2</th>
            <th>column3</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>row1 c1</td>
            <td>row1 c2</td>
            <td>row1 c3</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>row2 c1</td>
            <td>row2 c2</td>
            <td>row2 c3</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>row3 c1</td>
            <td>row3 c2</td>
            <td>row3 c3</td>
        </tr>
    </tbody>
</table>
</div>



} {
<!-- javascripts -->

}
